$tablets: 768px;
$phones: 480px;
$baseColor: #497870;
$bC: #61C4D9;
$baseFontSize: 18px;
$baseFontFamily: 'Mohave';


$dark:          #212121;
$green:         #32A05D;
$greenLogo:     #1C6F3D;
$yellowLogo:    #FBB800;
$baseLogo:      #9370DB;

:root{
    font-size: $baseFontSize;
  }
@import url(https://fonts.googleapis.com/css?family=Mohave:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import "./components/media.scss";
@import "./components/*.scss";
